{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>{{template "title" .}} - Mars</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image">
    </head>
    <body>
    <header>
        <h1><a href="/">Mars</a></h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/post/create">Create post</a>
    </nav>
    <section>
        {{template "body" .}}
    </section>
    {{template "footer" .}}
    <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
    </html>
{{end}}