{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "body"}}
    <form action="/user/login" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
        {{with .Form}}
            {{with .Errors.Get "generic"}}
                <div class="error">{{.}}</div>
            {{end}}
            <div>
                <lable>Email:</lable>
                <input type="email" name="email" value="{{.Get "email"}}">
            </div>
            <div>
                <lable>Password:</lable>
                <input type="password" name="password">
            </div>
            <div>
                <input type="submit" value="login">
            </div>
        {{end}}
    </form>
{{end}}