{{template "base" .}}

{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "body"}}
    {{with .Post}}
        <div class="snippet">
            <div class="snippet">
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class="metadata">
                <time>Created: {{.Created}}</time>
                <time>Expires: {{.Expires}}</time>
            </div>
        </div>
    {{end}}
{{end}}